/* ==========================================================================
   HELPER STYLES
========================================================================== */

//Hide only visually, but have it available for screenreaders: h5bp.com/v
.alt {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;

  //Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p
  .focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.last-child *:last-child {
  margin-bottom: 0;
}

@responsive {
  .flip-hoz {
    transform: scaleX(-1);
  }
}

@responsive {
  .column-count-2 {
    column-count: 2;
  }

  .column-count-3 {
    column-count: 3;
  }

  .column-gap-40 {
    column-gap: 40px;
  }
}