/* ==========================================================================
	LINK STYLES
========================================================================== */

a {
  // @apply .text-yellow;
  text-decoration: none;
  transition: all .4s ease;

  &:hover, &:focus, &:active {
    // @apply .text-orange;
    text-decoration: none;
  }
}

.footer-links a {
  @apply .text-white;
  text-decoration: none;

  &:hover, &:focus, &:active {
    @apply .text-white;
  }
}

//a[href^="tel:"] {
//  color:$color-sub;
//
//  .footer & {
//    color:$white;
//  }

//a[href^="tel:"] {
//  color:$color-sub;
//
//  .footer & {
//    color:$white;
//  }
//}
