@import "tailwindcss/base";
@import "./base/framework.pcss";
/*@import "./base/vcloak.pcss";*/
/*@import "./base/xcloak.pcss";*/
/*@import "./base/print.pcss";*/
/*@import "./base/lazysizes.pcss";*/
/*@import "./base/helpers.pcss";*/

@import "tailwindcss/components";
@import "./components/outdated-browser-notice.pcss";
/*@import "./components/map.pcss";*/
/*@import "components/bullets-square.pcss";*/

@import "tailwindcss/utilities";
