// $menu-items: 12;
// .is-active,
// .nav {
//   li {
//     will-change: transform, opacity;
//     @for $i from 1 through $menu-items {
//       &:nth-of-type(#{$i}n) {
//         animation-delay: ($i*0.1s);
//       }
//     }
//   }
// }

%animate-grow-on-hover {
  will-change: transform;
  transition: all .40s ease-in-out;

  &:hover {
    transition: all .40s ease-in-out;
  }
}

.animate-grow-on-hover {
  @extend %animate-grow-on-hover;

  &:hover {
    transform: scale(1.3);
  }
}

.animate-grow-on-hover--small {
  @extend %animate-grow-on-hover;

  &:hover {
    transform: scale(1.15);
  }
}