/* ==========================================================================
  BLOCKQUOTE
========================================================================== */

blockquote {
  p {
    quotes : "\"" "\"" "'" "'";

    &:before, &:after  {
      // @include remit(margin, 0 2);
    }

    &:before {content: open-quote;}
    &:after {content: close-quote;}

  }

  cite {
      @apply .block;

      &:before {
        content: "\2014 \0020";
      }
  }
}
