// /* ==========================================================================
//  TRIANGLE BULLET LIST STYLES
// ========================================================================== */

.list-triangle {
  li {
    @apply .inline-flex .items-center;

    &::before {
        content: "";
        border-color: transparent config('colors.black');
        border-style: solid;
        border-width: 0.35rem 0 0.35rem 0.45rem;
        display: block;
        height: 0;
        width: 0;
        left: -0.5rem;
        position: relative;
    }
  }
}

.list-square {
  li {
    @apply .ml-6;
    @apply .mb-4;
    @apply .relative;

    &:before {
      @apply .w-3;
      @apply .h-3;
      background-color: currentColor;
      content: '';
      display: inline-block;
      position: absolute;
      top: 0.4rem;
      left: -1.5rem;
    }
  }
}



@responsive {
  .cols-2 {
    column-count: 2;
  }

  .cols-3 {
    column-count: 3;
  }
}