.flickity-page-dots {
  text-align: left;
  @apply ml-8 mt-3;
}

/* white circles */
.flickity-page-dots .dot {
  @apply bg-grey-dark;
  @apply w-10 h-2;
  @apply m-0 mr-2;
  border-radius: 0;
}

/* fill-in selected dot */
.flickity-page-dots .dot.is-selected {
  @apply bg-orange;
}


//.caption {
//  opacity: 0;
//}

.is-selected {

  @screen lg {
    .caption {
      animation-name: fadeInLeft;
      animation-delay: 0.5s;
      will-change: opacity;
    }

    .title {
      animation-name: fadeInUp;
      animation-delay: 1s;
      will-change: opacity;
    }

    .link {
      animation-name: fadeInDown;
      animation-delay: 1.5s;
      will-change: opacity;
    }
  }
}