/* ==========================================================================
	BASE FORM STYLES
========================================================================== */

//Give form elements some cursor interactions...
label,
input,
textarea,
button,
select,
option,
{
  cursor: pointer;
}

%text-input:active,
%text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
}

select {
  min-width: 100px;
}

select:active,
select:focus {
  outline: none;
}

input[type=radio] {
  appearance: radio;
}

input[type=checkbox] {
  appearance: checkbox;
}

input[type=radio],
input[type=checkbox] {
  margin: 5px 5px 0 0;
  padding: 5px;
  border: 1px solid grey;
}

input[type="submit"] {
  @apply .cursor-pointer;

  &:focus {
    border: 0;
  }
}

.required {
  @apply .font-medium;

  &:before {
    content: "*";
    @apply .mr-1;
    @apply .items-start;
    @apply .text-orange;
    @apply .text-xs;
  }
}

.error--field {
  @apply .border .border-red;
}